<div id="container87" class="container columns full screen">
    <div class="wrapper">
        <div class="inner">
            <div>
                <div id="image11" class="image">
                    <a href="/"><span class="frame"><img src="/assets/images/image01.png" alt="" /></span></a>
                </div>
                <p id="text290">Disbot.top - Discord Bot List</p>
                <p id="text289">Expand your bots potential!</p>
            </div>
            <div>
                <h1 id="text292">Important Links</h1>
                <h1 id="text291"><span class="li"><a href="/">Home</a></span><span class="li"><a href="/rules">Regulations</a></span><span class="li"><a href="/discord">Disbot.top Discord</a></span><span class="li"><a href="/partners">Partners</a></span><span><span class="li"><a href="/advertise">Advertise</a></span></span></h1>
            </div>
            <div>
                <ul id="icons01" class="icons">
                    <li>
                        <a class="n01" href="https://twitter.com/disbotdottop">
                            <svg><use xlink:href="/assets/icons.svg#twitter"></use></svg>
                            <span class="label">Twitter</span>
                        </a>
                    </li><li>
                        <a class="n02" href="/discord">
                            <svg><use xlink:href="/assets/icons.svg#discord"></use></svg>
                            <span class="label">Discord</span>
                        </a>
                    </li>
                </ul>
                <p id="text293">Powered by: <a href="https://botguys.net">The Bot Guys</a></p>
            </div>
        </div>
    </div>
</div>