<div id="container81" class="container default">
    <div class="wrapper">
        <div class="inner">
            <p id="text280">Alert Title</p>
            <p id="text281">Alert Message</p>
        </div>
    </div>
</div>
<div id="container82" class="container default">
    <div class="wrapper">
        <div class="inner">
            <ul id="buttons59" class="buttons">
                <li>
                    <a href="https://domain.ext/path" class="button n01">Staff Manager</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n02">Users</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n03">Audit Logs</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n04">Pending Bots</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n05">Pending Reports</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n06">API Settings</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n07">Alert Settings</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n08">Bots</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="container75" class="container columns">
    <div class="wrapper">
        <div class="inner">
            <div>
                <p id="text268">Home Page</p>
                <hr id="divider90">
                <form enctype="multipart/form-data" id="form15" method="post" action="#">
                    <div class="inner">
                        <div class="field">
                            <label for="form15-title">Title</label>
                            <input type="text" name="title" id="form15-title" placeholder="" maxlength="256" required />
                        </div>
                        <div class="field">
                            <label for="form15-description">Description</label>
                            <textarea data-gramm_editor="false" name="description" id="form15-description" placeholder="" required></textarea>
                        </div>
                        <div class="actions">
                            <button type="submit">Save Alert</button>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="form15" />
                </form>
            </div>
            <div>
                <p id="text269">Bot Profile Page</p>
                <hr id="divider91">
                <form enctype="multipart/form-data" id="form16" method="post" action="#">
                    <div class="inner">
                        <div class="field">
                            <label for="form16-title">Title</label>
                            <input type="text" name="title" id="form16-title" placeholder="" maxlength="256" required />
                        </div>
                        <div class="field">
                            <label for="form16-description">Description</label>
                            <textarea data-gramm_editor="false" name="description" id="form16-description" placeholder="" required></textarea>
                        </div>
                        <div class="actions">
                            <button type="submit">Save Alert</button>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="form16" />
                </form>
            </div>
        </div>
    </div>
</div>
<div id="container76" class="container columns">
    <div class="wrapper">
        <div class="inner">
            <div>
                <p id="text270">Vote Page</p>
                <hr id="divider92">
                <form enctype="multipart/form-data" id="form17" method="post" action="#">
                    <div class="inner">
                        <div class="field">
                            <label for="form17-title">Title</label>
                            <input type="text" name="title" id="form17-title" placeholder="" maxlength="256" required />
                        </div>
                        <div class="field">
                            <label for="form17-description">Description</label>
                            <textarea data-gramm_editor="false" name="description" id="form17-description" placeholder="" required></textarea>
                        </div>
                        <div class="actions">
                            <button type="submit">Save Alert</button>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="form17" />
                </form>
            </div>
            <div>
                <p id="text271">Add Bot Page</p>
                <hr id="divider93">
                <form enctype="multipart/form-data" id="form18" method="post" action="#">
                    <div class="inner">
                        <div class="field">
                            <label for="form18-title">Title</label>
                            <input type="text" name="title" id="form18-title" placeholder="" maxlength="256" required />
                        </div>
                        <div class="field">
                            <label for="form18-description">Description</label>
                            <textarea data-gramm_editor="false" name="description" id="form18-description" placeholder="" required></textarea>
                        </div>
                        <div class="actions">
                            <button type="submit">Save Alert</button>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="form18" />
                </form>
            </div>
        </div>
    </div>
</div>
<div id="container77" class="container columns">
    <div class="wrapper">
        <div class="inner">
            <div>
                <p id="text272">Report Page</p>
                <hr id="divider94">
                <form enctype="multipart/form-data" id="form19" method="post" action="#">
                    <div class="inner">
                        <div class="field">
                            <label for="form19-title">Title</label>
                            <input type="text" name="title" id="form19-title" placeholder="" maxlength="256" required />
                        </div>
                        <div class="field">
                            <label for="form19-description">Description</label>
                            <textarea data-gramm_editor="false" name="description" id="form19-description" placeholder="" required></textarea>
                        </div>
                        <div class="actions">
                            <button type="submit">Save Alert</button>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="form19" />
                </form>
            </div>
            <div>
                <p id="text273">Advertise Page</p>
                <hr id="divider95">
                <form enctype="multipart/form-data" id="form20" method="post" action="#">
                    <div class="inner">
                        <div class="field">
                            <label for="form20-title">Title</label>
                            <input type="text" name="title" id="form20-title" placeholder="" maxlength="256" required />
                        </div>
                        <div class="field">
                            <label for="form20-description">Description</label>
                            <textarea data-gramm_editor="false" name="description" id="form20-description" placeholder="" required></textarea>
                        </div>
                        <div class="actions">
                            <button type="submit">Save Alert</button>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="form20" />
                </form>
            </div>
        </div>
    </div>
</div>
<div id="container78" class="container columns">
    <div class="wrapper">
        <div class="inner">
            <div>
                <p id="text266">Staff Panel</p>
                <hr id="divider96">
                <form enctype="multipart/form-data" id="form21" method="post" action="#">
                    <div class="inner">
                        <div class="field">
                            <label for="form21-title">Title</label>
                            <input type="text" name="title" id="form21-title" placeholder="" maxlength="256" required />
                        </div>
                        <div class="field">
                            <label for="form21-description">Description</label>
                            <textarea data-gramm_editor="false" name="description" id="form21-description" placeholder="" required></textarea>
                        </div>
                        <div class="actions">
                            <button type="submit">Save Alert</button>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="form21" />
                </form>
            </div>
            <div>
                <p id="text275">User Page</p>
                <hr id="divider97">
                <form enctype="multipart/form-data" id="form22" method="post" action="#">
                    <div class="inner">
                        <div class="field">
                            <label for="form22-title">Title</label>
                            <input type="text" name="title" id="form22-title" placeholder="" maxlength="256" required />
                        </div>
                        <div class="field">
                            <label for="form22-description">Description</label>
                            <textarea data-gramm_editor="false" name="description" id="form22-description" placeholder="" required></textarea>
                        </div>
                        <div class="actions">
                            <button type="submit">Save Alert</button>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="form22" />
                </form>
            </div>
        </div>
    </div>
</div>
<div id="container74" class="container columns">
    <div class="wrapper">
        <div class="inner">
            <div>
                <p id="text267">API Page</p>
                <hr id="divider89">
                <form enctype="multipart/form-data" id="form11" method="post" action="#">
                    <div class="inner">
                        <div class="field">
                            <label for="form11-title">Title</label>
                            <input type="text" name="title" id="form11-title" placeholder="" maxlength="256" required />
                        </div>
                        <div class="field">
                            <label for="form11-description">Description</label>
                            <textarea data-gramm_editor="false" name="description" id="form11-description" placeholder="" required></textarea>
                        </div>
                        <div class="actions">
                            <button type="submit">Save Alert</button>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="form11" />
                </form>
            </div>
            <div>
                <p id="text274">Partners Page</p>
                <hr id="divider88">
                <form enctype="multipart/form-data" id="form14" method="post" action="#">
                    <div class="inner">
                        <div class="field">
                            <label for="form14-title">Title</label>
                            <input type="text" name="title" id="form14-title" placeholder="" maxlength="256" required />
                        </div>
                        <div class="field">
                            <label for="form14-description">Description</label>
                            <textarea data-gramm_editor="false" name="description" id="form14-description" placeholder="" required></textarea>
                        </div>
                        <div class="actions">
                            <button type="submit">Save Alert</button>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="form14" />
                </form>
            </div>
        </div>
    </div>
</div>