<div id="container13" class="container default">
    <div class="wrapper">
        <div class="inner">
            <p id="text43">Alert Title</p>
            <p id="text91">Alert Message</p>
        </div>
    </div>
</div>
<div id="container19" class="container default">
    <div class="wrapper">
        <div class="inner">
            <ul id="buttons30" class="buttons">
                <li>
                    <a href="https://domain.ext/path" class="button n01">API Home</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n02">API Docs</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n03">API Tokens</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="container17" class="container columns">
    <div class="wrapper">
        <div class="inner">
            <div>
                <p id="text112">API Documentation</p>
                <p id="text93">Looking for information our API? You have come to the right page! You can find out all information for each endpoint in this section. Thank you and happy developing!</p>
                <hr id="divider27">
                <p id="text114">API Link: <code>https://disbot.top/api/v2</code></p>
            </div>
            <div>
                <p id="text115">API Endpoints</p>
                <hr id="divider43">
                <p id="text116">Update Bot</p>
                <p id="text117">Method: <span style="color: yellow">POST</span></p>
                <p id="text118"><code>/api/v2/bot/{botid}/update</code></p>
                <hr id="divider37">
                <p id="text119">Use our <a href="http:///">npm package</a> for updating you&#39;re bots stats. Such as online status and server count stats.</p>
                <hr id="divider38">
                <p id="text120">Get Bot</p>
                <p id="text121">Method: <span style="color: yellow">GET</span></p>
                <p id="text122"><code>/api/v2/bot/{botid}/update</code></p>
                <hr id="divider39">
                <p id="text123">Gets the bots information except private information.</p>
            </div>
        </div>
    </div>
</div>