<div id="container14" class="container default">
    <div class="wrapper">
        <div class="inner">
            <p id="text98">Alert Title</p>
            <p id="text99">Alert Message</p>
        </div>
    </div>
</div>
<div id="container15" class="container default">
    <div class="wrapper">
        <div class="inner">
            <ul id="buttons29" class="buttons">
                <li>
                    <a href="https://domain.ext/path" class="button n01">API Home</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n02">API Docs</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n03">API Tokens</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="container16" class="container columns">
    <div class="wrapper">
        <div class="inner">
            <div>
                <p id="text100">About the API</p>
                <p id="text101">Here at Disbot.top, we offer a custom API for all developers to come and interact with. Our API allows the bot developers to keep track of their bots stats. You can even track who is voting for your bot! If you would like more information about our custom API. Please go check out the documentation! It&#39;s simple and easy, Just like adding you&#39;re bots to Disbot.top!</p>
            </div>
            <div>
                <p id="text102">Getting Started</p>
                <hr id="divider30">
                <p id="text103">Discord.Js</p>
                <p id="text104">Here at Disbot.top, we offer a npm package for updating stats on you&#39;re discord bot! Such as online status and servers. We will be adding much more in the future! You will find the npm package link below this message!</p>
                <hr id="divider31">
                <p id="text105"><a href="http:///">disbotapi NPM package</a></p>
                <hr id="divider32">
                <p id="text106">Non Library Usage</p>
                <p id="text107">Other methods include making a POST request to our /api link and using that to update statistics. We ask that you refer to our Discord support channels for this support while we work on a documentation page.</p>
            </div>
        </div>
    </div>
</div>