<div id="container31" class="container default">
    <div class="wrapper">
        <div class="inner">
            <p id="text153">Alert Title</p>
            <p id="text154">Alert Message</p>
        </div>
    </div>
</div>
<div id="container26" class="container columns">
    <div class="wrapper">
        <div class="inner">
            <div>
                <div id="image23" class="image">
                    <span class="frame"><img src="assets/images/image23.jpg" alt="" /></span>
                </div>
            </div>
            <div>
                <p id="text132">Sokobot</p>
                <p id="text136">Sokobot is a Discord bot that lets you play Sokoban, the classic box-pushing puzzle game!...</p>
                <hr id="divider44">
                <ul id="buttons33" class="buttons">
                    <li>
                        <a href="https://domain.ext/path" class="button n01"><svg><use xlink:href="assets/icons.svg#information"></use></svg><span class="label">Information</span></a>
                    </li>
                </ul>
                <p id="text131"><u>Paid Promotion</u></p>
            </div>
        </div>
    </div>
</div>
<div id="container29" class="container columns">
    <div class="wrapper">
        <div class="inner">
            <div>
                <div id="image27" class="image">
                    <span class="frame"><img src="assets/images/image27.jpg" alt="" /></span>
                </div>
                <hr id="divider46">
                <ul id="buttons41" class="buttons">
                    <li>
                        <a href="https://domain.ext/path" class="button n01"><svg><use xlink:href="assets/icons.svg#discord"></use></svg><span class="label">Discord Server</span></a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n02"><svg><use xlink:href="assets/icons.svg#github"></use></svg><span class="label">GitHub</span></a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n03"><svg><use xlink:href="assets/icons.svg#globe"></use></svg><span class="label">Website</span></a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n04"><svg><use xlink:href="assets/icons.svg#heart"></use></svg><span class="label">Donate</span></a>
                    </li>
                </ul>
            </div>
            <div>
                <p id="text137">Sokobot</p>
                <p id="text138">Sokobot is a Discord bot that lets you play Sokoban, the classic box-pushing puzzle game!...</p>
                <hr id="divider47">
                <ul id="buttons37" class="buttons">
                    <li>
                        <a href="https://domain.ext/path" class="button n01"><svg><use xlink:href="assets/icons.svg#arrow-up-alt"></use></svg><span class="label">200 votes</span></a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n02"><svg><use xlink:href="assets/icons.svg#discord"></use></svg><span class="label">Invite</span></a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n03"><svg><use xlink:href="assets/icons.svg#feed"></use></svg><span class="label">Report</span></a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n04"><svg><use xlink:href="assets/icons.svg#document"></use></svg><span class="label">Edit Page</span></a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n05"><svg><use xlink:href="assets/icons.svg#information"></use></svg><span class="label">Changelogs</span></a>
                    </li>
                </ul>
                <hr id="divider50">
                <p id="text139">Staff Actions</p>
                <ul id="buttons38" class="buttons">
                    <li>
                        <a href="https://domain.ext/path" class="button n01"><svg><use xlink:href="assets/icons.svg#lock-alt"></use></svg><span class="label">Hide Page</span></a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n02"><svg><use xlink:href="assets/icons.svg#cancel-light"></use></svg><span class="label">Delete Page</span></a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n03"><svg><use xlink:href="assets/icons.svg#arrow-up-alt"></use></svg><span class="label">Boost 5</span></a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n04"><svg><use xlink:href="assets/icons.svg#arrow-down-alt"></use></svg><span class="label">Unboost 5</span></a>
                    </li>
                </ul>
                <hr id="divider48">
                <p id="text144"><span style="color: grey">Notification:</span> Pending Approval</p>
            </div>
            <div>
                <p id="text162">Tags</p>
                <ul id="buttons42" class="buttons">
                    <li>
                        <a href="https://domain.ext/path" class="button n01">Fun</a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n02">Games</a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n03">Music</a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n04">Economy</a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n05">Moderation</a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n06">Auto-Mod</a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n07">Levelling</a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n08">Utility</a>
                    </li>
                </ul>
                <hr id="divider51">
                <p id="text146">Information</p>
                <p id="text156"><span style="color: grey">Rating:</span> 4/5</p>
                <p id="text141"><span style="color: grey">Status:</span> <span style="color: green">Online</span> | <span style="color: red">Offline</span></p>
                <p id="text145"><span style="color: grey">Servers:</span> <span style="color: #EB73FF">30000</span></p>
                <p id="text143"><span style="color: grey">Library:</span> Discord.js</p>
                <p id="text61"><span style="color: grey">Prefix:</span> <code>! { <span style="color: red">Customizable</span> }</code></p>
                <p id="text152"><span style="color: grey">Creator:</span> <code><a href="http:///">Beefer#3014</a></code></p>
                <p id="text142"><span style="color: grey">Alerts:</span> NSFW</p>
            </div>
        </div>
    </div>
</div>
<div id="container28" class="container default">
    <div class="wrapper">
        <div class="inner">
            <p id="text147">About the bot here</p>
        </div>
    </div>
</div>