<div id="container01" class="container columns full screen">
    <div class="wrapper">
        <div class="inner">
            <div>
                <div id="image01" class="image">
                    <span class="frame"><img src="assets/images/image01.png" alt="" /></span>
                </div>
            </div>
            <div>
                <ul id="buttons60" class="buttons">
                    <li>
                        <a href="https://domain.ext/path" class="button n01">Home</a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n02">Top Bots</a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n03">Certified Bots</a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n04">Partners</a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n05">Join Discord</a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n06">API</a>
                    </li>
                </ul>
            </div>
            <div>
                <ul id="buttons02" class="buttons">
                    <li>
                        <a href="https://domain.ext/path" class="button n01">Username</a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n02">Add Bot</a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n03">Staff Panel</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
