<div id="container08" class="container default">
    <div class="wrapper">
        <div class="inner">
            <p id="text56">Alert Title</p>
            <p id="text57">Alert Message</p>
        </div>
    </div>
</div>
<div id="container02" class="container columns">
    <div class="wrapper">
        <div class="inner">
            <div>
                <p id="text02">Disbot.top - Discord Bot List</p>
                <p id="text01"><em>Expand your bots potential</em></p>
                <form enctype="multipart/form-data" id="form02" method="post" action="#">
                    <div class="inner">
                        <div class="field">
                            <input type="text" name="search-for-bots" id="form02-search-for-bots" placeholder="Search for bots.." maxlength="256" required />
                        </div>
                        <div class="actions">
                            <button type="submit">Submit</button>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="form02" />
                </form>
                <hr id="divider02">
                <ul id="buttons14" class="buttons">
                    <li>
                        <a href="https://domain.ext/path" class="button n01">Top Bots</a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n02">Newly Added Bots</a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n03">Certified Bots</a>
                    </li>
                </ul>
                <ul id="buttons27" class="buttons">
                    <li>
                        <a href="https://domain.ext/path" class="button n01">Fun</a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n02">Games</a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n03">Music</a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n04">Economy</a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n05">Moderation</a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n06">Auto-Mod</a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n07">Levelling</a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n08">Utility</a>
                    </li>
                </ul>
            </div>
            <div>
                <p id="text03"><em>Random Selection</em></p>
                <div id="image03" class="image">
                    <span class="frame"><img src="assets/images/image03.png" alt="" /></span>
                </div>
                <h1 id="text05">Sokobot</h1>
                <p id="text31"><span style="color: yellow">262 upvotes</span> | <span style="color: #5877C7">Rating: 4/5</span></p>
                <p id="text32">Status: <span style="color: green">Online</span> | Servers: <span style="color: #EB73FF">30000</span></p>
                <h1 id="text04">Sokobot is a Discord bot that lets you play Sokoban, the classic box-pushing puzzle game!...</h1>
                <hr id="divider01">
                <ul id="buttons07" class="buttons">
                    <li>
                        <a href="https://domain.ext/path" class="button n01"><svg><use xlink:href="assets/icons.svg#discord"></use></svg><span class="label">Invite</span></a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n02"><svg><use xlink:href="assets/icons.svg#information"></use></svg><span class="label">Information</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<p id="text22">Top Bots</p>
<hr id="divider08">
<div id="container04" class="container columns">
    <div class="wrapper">
        <div class="inner">
            <div>
                <div id="image07" class="image">
                    <span class="frame"><img src="assets/images/image07.png" alt="" /></span>
                </div>
                <p id="text23">Sokobot</p>
                <p id="text24">Sokobot is a Discord bot that lets you play Sokoban, the classic box-pushing puzzle game!...</p>
                <hr id="divider09">
                <ul id="buttons10" class="buttons">
                    <li>
                        <a href="https://domain.ext/path" class="button n01"><svg><use xlink:href="assets/icons.svg#information"></use></svg><span class="label">Information</span></a>
                    </li>
                </ul>
                <p id="text25"><u>Paid Promotion</u></p>
            </div>
            <div>
                <div id="image08" class="image">
                    <span class="frame"><img src="assets/images/image08.png" alt="" /></span>
                </div>
                <p id="text26">Sokobot</p>
                <p id="text27"><span style="color: yellow">262 upvotes</span> | <span style="color: #5877C7">Rating: 4/5</span></p>
                <p id="text28">Status: <span style="color: green">Online</span> | Servers: <span style="color: #EB73FF">30000</span></p>
                <p id="text29">Sokobot is a Discord bot that lets you play Sokoban, the classic box-pushing puzzle game!...</p>
                <hr id="divider10">
                <ul id="buttons11" class="buttons">
                    <li>
                        <a href="https://domain.ext/path" class="button n01"><svg><use xlink:href="assets/icons.svg#discord"></use></svg><span class="label">Invite</span></a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n02"><svg><use xlink:href="assets/icons.svg#information"></use></svg><span class="label">Information</span></a>
                    </li>
                </ul>
            </div>
            <div>
                <div id="image09" class="image">
                    <span class="frame"><img src="assets/images/image09.png" alt="" /></span>
                </div>
                <p id="text30">Sokobot</p>
                <p id="text161"><span style="color: yellow">262 upvotes</span> | <span style="color: #5877C7">Rating: 4/5</span></p>
                <p id="text163">Status: <span style="color: green">Online</span> | Servers: <span style="color: #EB73FF">30000</span></p>
                <p id="text33">Sokobot is a Discord bot that lets you play Sokoban, the classic box-pushing puzzle game!...</p>
                <hr id="divider11">
                <ul id="buttons12" class="buttons">
                    <li>
                        <a href="https://domain.ext/path" class="button n01"><svg><use xlink:href="assets/icons.svg#discord"></use></svg><span class="label">Invite</span></a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n02"><svg><use xlink:href="assets/icons.svg#information"></use></svg><span class="label">Information</span></a>
                    </li>
                </ul>
            </div>
            <div>
                <div id="image10" class="image">
                    <span class="frame"><img src="assets/images/image10.png" alt="" /></span>
                </div>
                <p id="text34">Sokobot</p>
                <p id="text35"><span style="color: yellow">262 upvotes</span> | <span style="color: #5877C7">Rating: 4/5</span></p>
                <p id="text36">Status: <span style="color: green">Online</span> | Servers: <span style="color: #EB73FF">30000</span></p>
                <p id="text37">Sokobot is a Discord bot that lets you play Sokoban, the classic box-pushing puzzle game!...</p>
                <hr id="divider12">
                <ul id="buttons13" class="buttons">
                    <li>
                        <a href="https://domain.ext/path" class="button n01"><svg><use xlink:href="assets/icons.svg#discord"></use></svg><span class="label">Invite</span></a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n02"><svg><use xlink:href="assets/icons.svg#information"></use></svg><span class="label">Information</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<ul id="buttons21" class="buttons">
    <li>
        <a href="https://domain.ext/path" class="button n01">EXPLORE MORE TOP BOTS</a>
    </li>
</ul>
<p id="text87">New Bots</p>
<hr id="divider25">
<div id="container09" class="container columns">
    <div class="wrapper">
        <div class="inner">
            <div>
                <div id="image16" class="image">
                    <span class="frame"><img src="assets/images/image16.png" alt="" /></span>
                </div>
                <p id="text88">Sokobot</p>
                <p id="text89">Sokobot is a Discord bot that lets you play Sokoban, the classic box-pushing puzzle game!...</p>
                <hr id="divider26">
                <ul id="buttons28" class="buttons">
                    <li>
                        <a href="https://domain.ext/path" class="button n01"><svg><use xlink:href="assets/icons.svg#information"></use></svg><span class="label">Information</span></a>
                    </li>
                </ul>
                <p id="text90"><u>Paid Promotion</u></p>
            </div>
            <div>
                <div id="image17" class="image">
                    <span class="frame"><img src="assets/images/image17.png" alt="" /></span>
                </div>
                <p id="text71">Sokobot</p>
                <p id="text72"><span style="color: yellow">262 upvotes</span> | <span style="color: #5877C7">Rating: 4/5</span></p>
                <p id="text73">Status: <span style="color: green">Online</span> | Servers: <span style="color: #EB73FF">30000</span></p>
                <p id="text74">Sokobot is a Discord bot that lets you play Sokoban, the classic box-pushing puzzle game!...</p>
                <hr id="divider22">
                <ul id="buttons24" class="buttons">
                    <li>
                        <a href="https://domain.ext/path" class="button n01"><svg><use xlink:href="assets/icons.svg#discord"></use></svg><span class="label">Invite</span></a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n02"><svg><use xlink:href="assets/icons.svg#information"></use></svg><span class="label">Information</span></a>
                    </li>
                </ul>
            </div>
            <div>
                <div id="image18" class="image">
                    <span class="frame"><img src="assets/images/image18.png" alt="" /></span>
                </div>
                <p id="text75">Sokobot</p>
                <p id="text76"><span style="color: yellow">262 upvotes</span> | <span style="color: #5877C7">Rating: 4/5</span></p>
                <p id="text77">Status: <span style="color: green">Online</span> | Servers: <span style="color: #EB73FF">30000</span></p>
                <p id="text78">Sokobot is a Discord bot that lets you play Sokoban, the classic box-pushing puzzle game!...</p>
                <hr id="divider23">
                <ul id="buttons25" class="buttons">
                    <li>
                        <a href="https://domain.ext/path" class="button n01"><svg><use xlink:href="assets/icons.svg#discord"></use></svg><span class="label">Invite</span></a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n02"><svg><use xlink:href="assets/icons.svg#information"></use></svg><span class="label">Information</span></a>
                    </li>
                </ul>
            </div>
            <div>
                <div id="image19" class="image">
                    <span class="frame"><img src="assets/images/image19.png" alt="" /></span>
                </div>
                <p id="text79">Sokobot</p>
                <p id="text80"><span style="color: yellow">262 upvotes</span> | <span style="color: #5877C7">Rating: 4/5</span></p>
                <p id="text81">Status: <span style="color: green">Online</span> | Servers: <span style="color: #EB73FF">30000</span></p>
                <p id="text82">Sokobot is a Discord bot that lets you play Sokoban, the classic box-pushing puzzle game!...</p>
                <hr id="divider24">
                <ul id="buttons26" class="buttons">
                    <li>
                        <a href="https://domain.ext/path" class="button n01"><svg><use xlink:href="assets/icons.svg#discord"></use></svg><span class="label">Invite</span></a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n02"><svg><use xlink:href="assets/icons.svg#information"></use></svg><span class="label">Information</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<ul id="buttons22" class="buttons">
    <li>
        <a href="https://domain.ext/path" class="button n01">EXPLORE MORE NEW BOTS</a>
    </li>
</ul>
<p id="text21">Certified Bots</p>
<hr id="divider07">
<div id="container03" class="container columns">
    <div class="wrapper">
        <div class="inner">
            <div>
                <div id="image04" class="image">
                    <span class="frame"><img src="assets/images/image04.png" alt="" /></span>
                </div>
                <p id="text07">✔ Sokobot</p>
                <p id="text15"><span style="color: yellow">262 upvotes</span> | <span style="color: #5877C7">Rating: 4/5</span></p>
                <p id="text16">Status: <span style="color: green">Online</span> | Servers: <span style="color: #EB73FF">30000</span></p>
                <p id="text10">Sokobot is a Discord bot that lets you play Sokoban, the classic box-pushing puzzle game!...</p>
                <hr id="divider04">
                <ul id="buttons08" class="buttons">
                    <li>
                        <a href="https://domain.ext/path" class="button n01"><svg><use xlink:href="assets/icons.svg#discord"></use></svg><span class="label">Invite</span></a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n02"><svg><use xlink:href="assets/icons.svg#information"></use></svg><span class="label">Information</span></a>
                    </li>
                </ul>
            </div>
            <div>
                <div id="image02" class="image">
                    <span class="frame"><img src="assets/images/image02.png" alt="" /></span>
                </div>
                <p id="text13">✔ Sokobot</p>
                <p id="text65"><span style="color: yellow">262 upvotes</span> | <span style="color: #5877C7">Rating: 4/5</span></p>
                <p id="text66">Status: <span style="color: green">Online</span> | Servers: <span style="color: #EB73FF">30000</span></p>
                <p id="text67">Sokobot is a Discord bot that lets you play Sokoban, the classic box-pushing puzzle game!...</p>
                <hr id="divider21">
                <ul id="buttons20" class="buttons">
                    <li>
                        <a href="https://domain.ext/path" class="button n01"><svg><use xlink:href="assets/icons.svg#discord"></use></svg><span class="label">Invite</span></a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n02"><svg><use xlink:href="assets/icons.svg#information"></use></svg><span class="label">Information</span></a>
                    </li>
                </ul>
            </div>
            <div>
                <div id="image06" class="image">
                    <span class="frame"><img src="assets/images/image06.png" alt="" /></span>
                </div>
                <p id="text14">✔ Sokobot</p>
                <p id="text20"><span style="color: yellow">262 upvotes</span> | <span style="color: #5877C7">Rating: 4/5</span></p>
                <p id="text19">Status: <span style="color: green">Online</span> | Servers: <span style="color: #EB73FF">30000</span></p>
                <p id="text09">Sokobot is a Discord bot that lets you play Sokoban, the classic box-pushing puzzle game!...</p>
                <hr id="divider06">
                <ul id="buttons09" class="buttons">
                    <li>
                        <a href="https://domain.ext/path" class="button n01"><svg><use xlink:href="assets/icons.svg#discord"></use></svg><span class="label">Invite</span></a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n02"><svg><use xlink:href="assets/icons.svg#information"></use></svg><span class="label">Information</span></a>
                    </li>
                </ul>
            </div>
            <div>
                <div id="image05" class="image">
                    <span class="frame"><img src="assets/images/image05.png" alt="" /></span>
                </div>
                <p id="text08">✔ Sokobot</p>
                <p id="text11"><span style="color: yellow">262 upvotes</span> | <span style="color: #5877C7">Rating: 4/5</span></p>
                <p id="text12">Status: <span style="color: green">Online</span> | Servers: <span style="color: #EB73FF">30000</span></p>
                <p id="text18">Sokobot is a Discord bot that lets you play Sokoban, the classic box-pushing puzzle game!...</p>
                <hr id="divider03">
                <ul id="buttons05" class="buttons">
                    <li>
                        <a href="https://domain.ext/path" class="button n01"><svg><use xlink:href="assets/icons.svg#discord"></use></svg><span class="label">Invite</span></a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n02"><svg><use xlink:href="assets/icons.svg#information"></use></svg><span class="label">Information</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<ul id="buttons06" class="buttons">
    <li>
        <a href="https://domain.ext/path" class="button n01">EXPLORE MORE CERTIFIED BOTS</a>
    </li>
</ul>