<div id="container68" class="container default">
    <div class="wrapper">
        <div class="inner">
            <p id="text260">Alert Title</p>
            <p id="text261">Alert Message</p>
        </div>
    </div>
</div>
<div id="container69" class="container default">
    <div class="wrapper">
        <div class="inner">
            <ul id="buttons56" class="buttons">
                <li>
                    <a href="https://domain.ext/path" class="button n01">Staff Manager</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n02">Users</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n03">Audit Logs</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n04">Pending Bots</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n05">Pending Reports</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n06">API Settings</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n07">Alert Settings</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n08">Bots</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="container70" class="container default">
    <div class="wrapper">
        <div class="inner">
            <p id="text262"><span style="color: #5877C7">Pending Reports:</span> 1</p>
            <hr id="divider84">
            <div id="table11" class="table-wrapper">
                <div class="table-inner">
                    <table>
                        <thead>
                            <tr>
                                <th>Reported Bot</th>
                                <th>Reporter</th>
                                <th>Reason</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>915930581563506718</td>
                                <td>DJ Frank</td>
                                <td>915930581563506718 <code>Marmalade#4537</code></td>
                                <td><a href="http:///">See</a> | <a href="http:///">Complete</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr id="divider85">
        </div>
    </div>
</div>
<div id="container49" class="container default">
    <div class="wrapper">
        <div class="inner">
            <p id="text241"><span style="color: #5877C7">Total Reports:</span> 29</p>
            <hr id="divider71">
            <div id="table04" class="table-wrapper">
                <div class="table-inner">
                    <table>
                        <thead>
                            <tr>
                                <th>Reported Bot</th>
                                <th>Reporter</th>
                                <th>Reason</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>915930581563506718</td>
                                <td>DJ Frank</td>
                                <td>915930581563506718 <code>Marmalade#4537</code></td>
                                <td><a href="http:///">View Page</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr id="divider70">
        </div>
    </div>
</div>