<div id="container58" class="container default">
    <div class="wrapper">
        <div class="inner">
            <p id="text248">Alert Title</p>
            <p id="text249">Alert Message</p>
        </div>
    </div>
</div>
<div id="container59" class="container default">
    <div class="wrapper">
        <div class="inner">
            <ul id="buttons53" class="buttons">
                <li>
                    <a href="https://domain.ext/path" class="button n01">Staff Manager</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n02">Users</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n03">Audit Logs</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n04">Pending Bots</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n05">Pending Reports</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n06">API Settings</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n07">Alert Settings</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n08">Bots</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="container60" class="container default">
    <div class="wrapper">
        <div class="inner">
            <p id="text250">Site Bots</p>
            <hr id="divider76">
            <div id="table07" class="table-wrapper">
                <div class="table-inner">
                    <table>
                        <thead>
                            <tr>
                                <th>Bot</th>
                                <th>Creator</th>
                                <th>Add Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="http:///"><span style="color: #5877C7">FaxBot (282762192544333827)</span></a></td>
                                <td><a href="http:///"><span style="color: #5877C7">FAXES (282762192544333827)</span></a></td>
                                <td>12/12/1950, 9:30PM</td>
                            </tr>
                            <tr>
                                <td><a href="http:///"><span style="color: #5877C7">FaxBot (282762192544333827)</span></a></td>
                                <td><a href="http:///"><span style="color: #5877C7">FAXES (282762192544333827)</span></a></td>
                                <td>12/12/1950, 9:30PM</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr id="divider77">
        </div>
    </div>
</div>