<div id="container53" class="container default">
    <div class="wrapper">
        <div class="inner">
            <p id="text242">Alert Title</p>
            <p id="text243">Alert Message</p>
        </div>
    </div>
</div>
<div id="container54" class="container default">
    <div class="wrapper">
        <div class="inner">
            <ul id="buttons51" class="buttons">
                <li>
                    <a href="https://domain.ext/path" class="button n01">Staff Manager</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n02">Users</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n03">Audit Logs</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n04">Pending Bots</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n05">Pending Reports</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n06">API Settings</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n07">Alert Settings</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n08">Bots</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="container83" class="container default">
    <div class="wrapper">
        <div class="inner">
            <p id="text282">Staff Users</p>
            <hr id="divider98">
            <div id="table13" class="table-wrapper">
                <div class="table-inner">
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>Permission</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>282762192544333827</td>
                                <td>FAXES</td>
                                <td>Administrator</td>
                                <td><a href="http:///"><span style="color: orange">Remove</span></a></td>
                            </tr>
                            <tr>
                                <td>282762192544333827</td>
                                <td>FAXES</td>
                                <td>Administrator</td>
                                <td><a href="http:///"><span style="color: orange">Remove</span></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr id="divider99">
            <form enctype="multipart/form-data" id="form23" method="post" action="#">
                <div class="inner">
                    <div class="field">
                        <input type="text" name="discord-id" id="form23-discord-id" placeholder="Discord ID" maxlength="256" required />
                    </div>
                    <div class="field">
                        <select name="permission" id="form23-permission" required>
                            <option value="">&ndash; Permission &ndash;</option>
                            <option value="value1">Value One</option>
                            <option value="value2">Value Two</option>
                            <option value="value3">Value Three</option>
                        </select>
                    </div>
                    <div class="actions">
                        <button type="submit">Submit</button>
                    </div>
                </div>
                <input type="hidden" name="id" value="form23" />
            </form>
        </div>
    </div>
</div>