<div id="container72" class="container default">
    <div class="wrapper">
        <div class="inner">
            <p id="text264">Alert Title</p>
            <p id="text265">Alert Message</p>
        </div>
    </div>
</div>
<div id="container73" class="container default">
    <div class="wrapper">
        <div class="inner">
            <ul id="buttons58" class="buttons">
                <li>
                    <a href="https://domain.ext/path" class="button n01">Staff Manager</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n02">Users</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n03">Audit Logs</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n04">Pending Bots</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n05">Pending Reports</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n06">API Settings</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n07">Alert Settings</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n08">Bots</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<ul id="buttons57" class="buttons">
    <li>
        <a href="https://domain.ext/path" class="button n01"><svg><use xlink:href="assets/icons.svg#message"></use></svg><span class="label">Create Ticket</span></a>
    </li>
</ul>
<div id="container71" class="container default">
    <div class="wrapper">
        <div class="inner">
            <p id="text263"><span style="color: #5877C7">Open Tickets</span></p>
            <hr id="divider86">
            <div id="table12" class="table-wrapper">
                <div class="table-inner">
                    <table>
                        <thead>
                            <tr>
                                <th>Ticket ID</th>
                                <th>Creator</th>
                                <th>Creation Date</th>
                                <th>Last Update</th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>66</td>
                                <td>HRVY#8086</td>
                                <td>Sat Nov 20 2021 22:14:31</td>
                                <td>Sat Nov 20 2021 22:14:31</td>
                                <td><a href="http:///">See</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr id="divider87">
        </div>
    </div>
</div>
<div id="container67" class="container default">
    <div class="wrapper">
        <div class="inner">
            <p id="text259"><span style="color: #5877C7">Closed Tickets</span></p>
            <hr id="divider82">
            <div id="table10" class="table-wrapper">
                <div class="table-inner">
                    <table>
                        <thead>
                            <tr>
                                <th>Ticket ID</th>
                                <th>Creator</th>
                                <th>Creation Date</th>
                                <th>Last Update</th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>66</td>
                                <td>HRVY#8086</td>
                                <td>Sat Nov 20 2021 22:14:31</td>
                                <td>Sat Nov 20 2021 22:14:31</td>
                                <td><a href="http:///">See</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr id="divider83">
        </div>
    </div>
</div>