<div id="container12" class="container default">
    <div class="wrapper">
        <div class="inner">
            <p id="text39">Alert Title</p>
            <p id="text41">Alert Message</p>
        </div>
    </div>
</div>
<div id="container25" class="container columns">
    <div class="wrapper">
        <div class="inner">
            <div>
                <div id="image21" class="image">
                    <span class="frame"><img src="assets/images/image21.jpg" alt="" /></span>
                </div>
            </div>
            <div>
                <p id="text126">Sokobot</p>
                <p id="text127">Sokobot is a Discord bot that lets you play Sokoban, the classic box-pushing puzzle game!...</p>
                <hr id="divider41">
                <ul id="buttons32" class="buttons">
                    <li>
                        <a href="https://domain.ext/path" class="button n01"><svg><use xlink:href="assets/icons.svg#information"></use></svg><span class="label">Information</span></a>
                    </li>
                </ul>
                <p id="text128"><u>Paid Promotion</u></p>
            </div>
        </div>
    </div>
</div>
<div id="container07" class="container columns">
    <div class="wrapper">
        <div class="inner">
            <div>
                <div id="image20" class="image">
                    <span class="frame"><img src="assets/images/image20.jpg" alt="" /></span>
                </div>
            </div>
            <div>
                <p id="text59">Beefer</p>
                <p id="text58">Disbot.top - Admin / Developer</p>
                <hr id="divider18">
                <form enctype="multipart/form-data" id="form03" method="post" action="#">
                    <div class="inner">
                        <div class="field">
                            <input type="text" name="welcome-to-my-page" id="form03-welcome-to-my-page" placeholder="Welcome to my page!" maxlength="256" required />
                        </div>
                        <div class="actions">
                            <button type="submit">Update Bio</button>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="form03" />
                </form>
                <form enctype="multipart/form-data" id="form04" method="post" action="#">
                    <div class="inner">
                        <div class="field">
                            <input type="text" name="discord-link" id="form04-discord-link" placeholder="Discord Link" maxlength="256" required />
                        </div>
                        <div class="actions">
                            <button type="submit">Discord Social</button>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="form04" />
                </form>
                <form enctype="multipart/form-data" id="form05" method="post" action="#">
                    <div class="inner">
                        <div class="field">
                            <input type="text" name="github-link" id="form05-github-link" placeholder="Github Link" maxlength="256" required />
                        </div>
                        <div class="actions">
                            <button type="submit">Github Social</button>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="form05" />
                </form>
                <form enctype="multipart/form-data" id="form01" method="post" action="#">
                    <div class="inner">
                        <div class="field">
                            <input type="text" name="twitter-link" id="form01-twitter-link" placeholder="Twitter Link" maxlength="256" required />
                        </div>
                        <div class="actions">
                            <button type="submit">Twitter Social</button>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="form01" />
                </form>
            </div>
            <div>
                <p id="text135">Tag: <span style="color: yellow">Bot Developer</span></p>
                <p id="text64">Permission: Administrator | Reviewer | User</p>
                <p id="text06">ID: <code>329858985589080064</code></p>
                <p id="text62">Blacklisted: <span style="color: red">Yes</span> | No</p>
                <p id="text17">Post Ban: <span style="color: red">Yes</span> | No</p>
                <hr id="divider19">
                <p id="text63">Social Links</p>
                <ul id="buttons19" class="buttons">
                    <li>
                        <a href="https://domain.ext/path" class="button n01"><svg><use xlink:href="assets/icons.svg#discord"></use></svg><span class="label">Discord</span></a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n02"><svg><use xlink:href="assets/icons.svg#github"></use></svg><span class="label">Github</span></a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n03"><svg><use xlink:href="assets/icons.svg#twitter"></use></svg><span class="label">Twitter</span></a>
                    </li>
                </ul>
                <hr id="divider20">
                <p id="text60">Staff Actions</p>
                <ul id="buttons18" class="buttons">
                    <li>
                        <a href="https://domain.ext/path" class="button n01"><svg><use xlink:href="assets/icons.svg#lock-alt"></use></svg><span class="label">Blacklist</span></a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n02"><svg><use xlink:href="assets/icons.svg#lock-alt"></use></svg><span class="label">Post Ban</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<p id="text38">Beefer&#39;s Bots</p>
<hr id="divider13">
<div id="container36" class="container columns">
    <div class="wrapper">
        <div class="inner">
            <div>
                <div id="image28" class="image">
                    <span class="frame"><img src="assets/images/image28.png" alt="" /></span>
                </div>
                <p id="text164">Sokobot</p>
                <p id="text165"><span style="color: yellow">262 upvotes</span> | <span style="color: #5877C7">Rating: 4/5</span></p>
                <p id="text166">Status: <span style="color: green">Online</span> | Servers: <span style="color: #EB73FF">30000</span></p>
                <p id="text170">Sokobot is a Discord bot that lets you play Sokoban, the classic box-pushing puzzle game!...</p>
                <hr id="divider54">
                <ul id="buttons43" class="buttons">
                    <li>
                        <a href="https://domain.ext/path" class="button n01"><svg><use xlink:href="assets/icons.svg#discord"></use></svg><span class="label">Invite</span></a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n02"><svg><use xlink:href="assets/icons.svg#information"></use></svg><span class="label">Information</span></a>
                    </li>
                </ul>
            </div>
            <div>
                <div id="image29" class="image">
                    <span class="frame"><img src="assets/images/image29.png" alt="" /></span>
                </div>
                <p id="text171">Sokobot</p>
                <p id="text172"><span style="color: #FFED6C">262 upvotes</span> | <span style="color: #5877C7">Rating: 4/5</span></p>
                <p id="text173">Status: <span style="color: green">Online</span> | Servers: <span style="color: #EB73FF">30000</span></p>
                <p id="text174">Sokobot is a Discord bot that lets you play Sokoban, the classic box-pushing puzzle game!...</p>
                <hr id="divider55">
                <ul id="buttons44" class="buttons">
                    <li>
                        <a href="https://domain.ext/path" class="button n01"><svg><use xlink:href="assets/icons.svg#discord"></use></svg><span class="label">Invite</span></a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n02"><svg><use xlink:href="assets/icons.svg#information"></use></svg><span class="label">Information</span></a>
                    </li>
                </ul>
            </div>
            <div>
                <div id="image30" class="image">
                    <span class="frame"><img src="assets/images/image30.png" alt="" /></span>
                </div>
                <p id="text175">Sokobot</p>
                <p id="text176"><span style="color: yellow">262 upvotes</span> | <span style="color: #5877C7">Rating: 4/5</span></p>
                <p id="text177">Status: <span style="color: green">Online</span> | Servers: <span style="color: #EB73FF">30000</span></p>
                <p id="text178">Sokobot is a Discord bot that lets you play Sokoban, the classic box-pushing puzzle game!...</p>
                <hr id="divider56">
                <ul id="buttons45" class="buttons">
                    <li>
                        <a href="https://domain.ext/path" class="button n01"><svg><use xlink:href="assets/icons.svg#discord"></use></svg><span class="label">Invite</span></a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n02"><svg><use xlink:href="assets/icons.svg#information"></use></svg><span class="label">Information</span></a>
                    </li>
                </ul>
            </div>
            <div>
                <div id="image31" class="image">
                    <span class="frame"><img src="assets/images/image31.png" alt="" /></span>
                </div>
                <p id="text179">Sokobot</p>
                <p id="text180"><span style="color: yellow">262 upvotes</span> | <span style="color: #5877C7">Rating: 4/5</span></p>
                <p id="text181">Status: <span style="color: green">Online</span> | Servers: <span style="color: #EB73FF">30000</span></p>
                <p id="text182">Sokobot is a Discord bot that lets you play Sokoban, the classic box-pushing puzzle game!...</p>
                <hr id="divider57">
                <ul id="buttons46" class="buttons">
                    <li>
                        <a href="https://domain.ext/path" class="button n01"><svg><use xlink:href="assets/icons.svg#discord"></use></svg><span class="label">Invite</span></a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n02"><svg><use xlink:href="assets/icons.svg#information"></use></svg><span class="label">Information</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>