<div id="container86" class="container columns">
    <div class="wrapper">
        <div class="inner">
            <div>
                <h2 id="text287">403</h2>
                <p id="text288">There&#39;s no way you&#39;re passing through! Access forbidden.</p>
            </div>
            <div>
                <div id="image38" class="image">
                    <span class="frame"><img src="assets/images/image38.png" alt="" /></span>
                </div>
                <hr id="divider102">
                <ul id="buttons62" class="buttons">
                    <li>
                        <a href="https://domain.ext/path" class="button n01">Search Bots</a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n02">Join Discord</a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n03">Top Bots</a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n04">Newly Added Bots</a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n05">Certified Bots</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>