<div id="container84" class="container columns">
    <div class="wrapper">
        <div class="inner">
            <div>
                <h2 id="text284">502</h2>
                <p id="text283">Our site is currently offline for maintenance or we are down for another reason.</p>
            </div>
            <div>
                <div id="image39" class="image">
                    <span class="frame"><img src="assets/images/image39.png" alt="" /></span>
                </div>
            </div>
        </div>
    </div>
</div>