<div id="container20" class="container default">
    <div class="wrapper">
        <div class="inner">
            <p id="text95">Alert Title</p>
            <p id="text96">Alert Message</p>
        </div>
    </div>
</div>
<div id="container11" class="container default">
    <div class="wrapper">
        <div class="inner">
            <ul id="buttons04" class="buttons">
                <li>
                    <a href="https://domain.ext/path" class="button n01">API Home</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n02">API Docs</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n03">API Tokens</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="container18" class="container columns">
    <div class="wrapper">
        <div class="inner">
            <div>
                <p id="text92">API Tokens</p>
                <p id="text94">These authorization tokens allow you to perform API requests. Without these for the correct bot the request will not work.</p>
                <hr id="divider29">
                <p id="text113">Never give away or show your authorization tokens!</p>
            </div>
            <div>
                <div id="table01" class="table-wrapper">
                    <div class="table-inner">
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Last Request</th>
                                    <th>Token</th>
                                    <th> Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>770480621263912970</td>
                                    <td>GoogBot</td>
                                    <td>12/12/1950, 9:40PM</td>
                                    <td>dzBal5q16GAK8eB7HwJQ</td>
                                    <td><a href="http:///"><span style="color: red">Regen</span></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>