<p id="text224">BotName&#39;s Changelogs</p>
<div id="container43" class="container columns">
    <div class="wrapper">
        <div class="inner">
            <div>
                <p id="text221">V1.0 - Title</p>
                <hr id="divider60">
                <p id="text222">Details about changelog go here!</p>
            </div>
            <div>
                <p id="text219"><span style="color: grey">Date Created:</span> 12/12/1950, 9:30PM</p>
                <p id="text157"><span style="color: grey">Creator:</span> Beefer#3014</p>
                <hr id="divider52">
                <ul id="buttons48" class="buttons">
                    <li>
                        <a href="https://domain.ext/path" class="button n01"><svg><use xlink:href="assets/icons.svg#cancel-light"></use></svg><span class="label">Delete</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<hr id="divider63">
<p id="text210">Post Creation</p>
<form enctype="multipart/form-data" id="form10" method="post" action="#">
    <div class="inner">
        <div class="field">
            <label for="form10-title">Title</label>
            <input type="text" name="title" id="form10-title" placeholder="" maxlength="256" required />
        </div>
        <div class="field">
            <label for="form10-version">Version</label>
            <input type="text" name="version" id="form10-version" placeholder="" maxlength="256" required />
        </div>
        <div class="field">
            <label for="form10-details">Details</label>
            <textarea data-gramm_editor="false" name="details" id="form10-details" placeholder="" required></textarea>
        </div>
        <div class="actions">
            <button type="submit">Submit</button>
        </div>
    </div>
    <input type="hidden" name="id" value="form10" />
</form>