<div id="container79" class="container default">
    <div class="wrapper">
        <div class="inner">
            <p id="text276">Alert Title</p>
            <p id="text277">Alert Message</p>
        </div>
    </div>
</div>
<div id="container32" class="container columns">
    <div class="wrapper">
        <div class="inner">
            <div>
                <div id="image25" class="image">
                    <span class="frame"><img src="assets/images/image25.jpg" alt="" /></span>
                </div>
                <ul id="buttons40" class="buttons">
                    <li>
                        <a href="https://domain.ext/path" class="button n01"><svg><use xlink:href="assets/icons.svg#document"></use></svg><span class="label">View Page</span></a>
                    </li>
                </ul>
                <hr id="divider53">
                <p id="text151">Current Tags</p>
                <ul id="buttons03" class="buttons">
                    <li>
                        <a href="https://domain.ext/path" class="button n01">Fun</a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n02">Games</a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n03">Music</a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n04">Economy</a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n05">Moderation</a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n06">Auto-Mod</a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n07">Levelling</a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n08">Utility</a>
                    </li>
                </ul>
            </div>
            <div>
                <p id="text155">Bot Name - (BOTID)</p>
                <hr id="divider45">
                <p id="text223"><span style="color: grey">Library:</span> Discord.js</p>
                <p id="text158"><span style="color: grey">Prefix:</span> <code>! { <span style="color: red">Customizable</span> }</code></p>
                <p id="text140"><span style="color: grey">Creator:</span> <code><a href="http:///">Beefer#3014</a></code></p>
                <p id="text159"><span style="color: grey">Short Description:</span> Sokobot is a Discord bot that lets you play Sokoban, the classic box-pushing puzzle game!...</p>
                <hr id="divider58">
                <p id="text160">Current Socials</p>
                <ul id="buttons35" class="buttons">
                    <li>
                        <a href="https://domain.ext/path" class="button n01"><svg><use xlink:href="assets/icons.svg#discord"></use></svg><span class="label">Discord Server</span></a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n02"><svg><use xlink:href="assets/icons.svg#github"></use></svg><span class="label">GitHub</span></a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n03"><svg><use xlink:href="assets/icons.svg#globe"></use></svg><span class="label">Website</span></a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n04"><svg><use xlink:href="assets/icons.svg#heart"></use></svg><span class="label">Donate</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<form enctype="multipart/form-data" id="form06" method="post" action="#">
    <div class="inner">
        <div class="field">
            <label for="form06-bot-id">Bot ID:</label>
            <input type="text" name="bot-id" id="form06-bot-id" placeholder="" maxlength="256" required />
        </div>
        <div class="field">
            <label for="form06-short-name-lowercase-only-no-special-characters-or-spaces-eg-coolbot">Short Name: (Lowercase only, no special characters or spaces. Eg: coolbot)</label>
            <input type="text" name="short-name-lowercase-only-no-special-characters-or-spaces-eg-coolbot" id="form06-short-name-lowercase-only-no-special-characters-or-spaces-eg-coolbot" placeholder="" maxlength="256" required />
        </div>
        <div class="field">
            <label for="form06-other-owner-ids-comma-seperated">Other Owner IDs: (comma seperated)</label>
            <input type="text" name="other-owner-ids-comma-seperated" id="form06-other-owner-ids-comma-seperated" placeholder="" maxlength="256" required />
        </div>
        <div class="field">
            <label for="form06-prefix">Prefix</label>
            <input type="text" name="prefix" id="form06-prefix" placeholder="" maxlength="256" required />
        </div>
        <div class="field">
            <div class="checkbox">
            <input type="checkbox" name="is-your-prefix-customizable" id="form06-is-your-prefix-customizable" value="checked" />
            <label for="form06-is-your-prefix-customizable"><span>Is your prefix customizable?</span></label>
            </div>
        </div>
        <div class="field">
            <div class="checkbox">
            <input type="checkbox" name="does-you-bot-contain-nsfw-content" id="form06-does-you-bot-contain-nsfw-content" value="checked" />
            <label for="form06-does-you-bot-contain-nsfw-content"><span>Does you bot contain NSFW content?</span></label>
            </div>
        </div>
        <div class="field">
            <div class="checkbox">
            <input type="checkbox" name="bot-certified5877c7" id="form06-bot-certified5877c7" value="checked" required />
            <label for="form06-bot-certified5877c7"><span><span style="color: #5877C7">Bot Certified?</span></span></label>
            </div>
        </div>
        <div class="field">
            <label for="form06-short-description">Short Description</label>
            <input type="text" name="short-description" id="form06-short-description" placeholder="" maxlength="256" required />
        </div>
        <div class="field">
            <label for="form06-invite-url-if-not-entered-one-will-be-generated">Invite URL: (If not entered one will be generated)</label>
            <input type="text" name="invite-url-if-not-entered-one-will-be-generated" id="form06-invite-url-if-not-entered-one-will-be-generated" placeholder="" maxlength="256" required />
        </div>
        <div class="field">
            <label for="form06-support-guild">Support Guild:</label>
            <input type="text" name="support-guild" id="form06-support-guild" placeholder="" maxlength="256" required />
        </div>
        <div class="field">
            <label for="form06-website-link">Website Link:</label>
            <input type="text" name="website-link" id="form06-website-link" placeholder="" maxlength="256" required />
        </div>
        <div class="field">
            <label for="form06-github-repository-link">GitHub Repository Link:</label>
            <input type="text" name="github-repository-link" id="form06-github-repository-link" placeholder="" maxlength="256" required />
        </div>
        <div class="field">
            <label for="form06-donate-link">Donate Link:</label>
            <input type="text" name="donate-link" id="form06-donate-link" placeholder="" maxlength="256" required />
        </div>
        <div class="field">
            <label for="form06-library">Library:</label>
            <select name="library" id="form06-library" required>
                <option value="">&ndash;</option>
                <option value="value1">Value One</option>
                <option value="value2">Value Two</option>
                <option value="value3">Value Three</option>
            </select>
        </div>
        <div class="field">
            <label for="form06-long-description">Long Description:</label>
            <textarea data-gramm_editor="false" name="long-description" id="form06-long-description" placeholder="" required></textarea>
        </div>
        <div class="field">
            <div class="checkbox">
            <input type="checkbox" name="fun" id="form06-fun" value="checked" required />
            <label for="form06-fun"><span>Fun</span></label>
            </div>
        </div>
        <div class="actions">
            <button type="submit">Submit Bot</button>
        </div>
    </div>
    <input type="hidden" name="id" value="form06" />
</form>