<p id="text220">Bot List Regulations</p>
<div id="container42" class="container columns">
    <div class="wrapper">
        <div class="inner">
            <div>
                <p id="text211">#1</p>
                <p id="text212">Your bot must be in check with <a href="http:///">Discords TOS</a></p>
            </div>
            <div>
                <p id="text213">#2</p>
                <p id="text214">Bots that have been offline for extended periods of times may be removed without notice or publicly hidden.</p>
            </div>
            <div>
                <p id="text215">#3</p>
                <p id="text216">Not be a clone/fork or running a pre-made bot. This includes Discord Bot Maker (DBM) and BotGhost.</p>
            </div>
            <div>
                <p id="text217">#4</p>
                <p id="text218">Not contain malicious functions.</p>
            </div>
        </div>
    </div>
</div>
<div id="container41" class="container columns">
    <div class="wrapper">
        <div class="inner">
            <div>
                <p id="text201">#5</p>
                <p id="text202">Be online and functioning properly at the time of adding your bot and during the review process.</p>
            </div>
            <div>
                <p id="text203">#6</p>
                <p id="text204">Not have a NSFW avatar or name. Any NSFW content in the bot must not be shown by default or must be in NSFW channels only.</p>
            </div>
            <div>
                <p id="text205">#7</p>
                <p id="text206">You must be the main creator and/or owner of the bot/application.</p>
            </div>
            <div>
                <p id="text207">#8</p>
                <p id="text208">Must not respond or interact with other bots.</p>
            </div>
        </div>
    </div>
</div>
<div id="container39" class="container columns">
    <div class="wrapper">
        <div class="inner">
            <div>
                <p id="text193">#9</p>
                <p id="text190">Must not spam messages or mass mention/advertise in direct messages or channels by default.</p>
            </div>
            <div>
                <p id="text188">#10</p>
                <p id="text191">Have features relative to at least one tag. If your bot doesn&#39;t fit a tag an exception can be made.</p>
            </div>
            <div>
                <p id="text189">#11</p>
                <p id="text186">Have at least one command or main functionality (with no commands).</p>
            </div>
            <div>
                <p id="text85">#12</p>
                <p id="text192">Bots can be declined, removed and/or publicly hidden for any reason staff deem necessary.</p>
            </div>
        </div>
    </div>
</div>
<p id="text47">Bot Page Regulations</p>
<div id="container40" class="container columns">
    <div class="wrapper">
        <div class="inner">
            <div>
                <p id="text187">#1</p>
                <p id="text194">Not use your pages bio/descriptions to advertise services that are not relevant to your bots service. Things like donations and doc links are okay. However, a link to a random Reddit page is not.</p>
            </div>
            <div>
                <p id="text195">#2</p>
                <p id="text196">Not providing or linking to malicious content.</p>
            </div>
            <div>
                <p id="text197">#3</p>
                <p id="text198">Not blocking or disrupting other page content.</p>
            </div>
            <div>
                <p id="text199">#4</p>
                <p id="text200">Not using a preset button from the application page to use and/or link to other links, sites or services.</p>
            </div>
        </div>
    </div>
</div>