<div id="container34" class="container default">
    <div class="wrapper">
        <div class="inner">
            <p id="text167">Report Bot Name</p>
            <p id="text168">Any information entered in this report must be valid.</p>
            <p id="text169">Invalid or false information provided in reports will be ignored or not processed.</p>
        </div>
    </div>
</div>
<div id="container33" class="container default">
    <div class="wrapper">
        <div class="inner">
            <form enctype="multipart/form-data" id="form09" method="post" action="#">
                <div class="inner">
                    <div class="field">
                        <label for="form09-reason">Reason</label>
                        <select name="reason" id="form09-reason" required>
                            <option value="">&ndash;</option>
                            <option value="value1">Value One</option>
                            <option value="value2">Value Two</option>
                            <option value="value3">Value Three</option>
                        </select>
                    </div>
                    <div class="field">
                        <label for="form09-additional-information">Additional Information</label>
                        <textarea data-gramm_editor="false" name="additional-information" id="form09-additional-information" placeholder="" required></textarea>
                    </div>
                    <div class="actions">
                        <button type="submit">Submit Report</button>
                    </div>
                </div>
                <input type="hidden" name="id" value="form09" />
            </form>
        </div>
    </div>
</div>