<div id="container50" class="container default">
    <div class="wrapper">
        <div class="inner">
            <p id="text239">Alert Title</p>
            <p id="text240">Alert Message</p>
        </div>
    </div>
</div>
<div id="container51" class="container default">
    <div class="wrapper">
        <div class="inner">
            <ul id="buttons50" class="buttons">
                <li>
                    <a href="https://domain.ext/path" class="button n01">Staff Manager</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n02">Users</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n03">Audit Logs</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n04">Pending Bots</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n05">Pending Reports</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n06">API Settings</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n07">Alert Settings</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n08">Bots</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<p id="text230">Welcome to the staff panel. Be sure to check for alerts and pending bots/reports!</p>
<div id="container48" class="container columns">
    <div class="wrapper">
        <div class="inner">
            <div>
                <p id="text238"><span style="color: #5877C7">Pending Bots:</span> 1</p>
                <hr id="divider69">
                <p id="text252">Newly Added Bots</p>
                <div id="table03" class="table-wrapper">
                    <div class="table-inner">
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Link</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>714347110497124382</td>
                                    <td>MultiRadio</td>
                                    <td><a href="http:///">View</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div>
                <p id="text237"><span style="color: #5877C7">Pending Reports:</span> 1</p>
                <hr id="divider64">
                <p id="text251">Latest Upvotes</p>
                <div id="table02" class="table-wrapper">
                    <div class="table-inner">
                        <table>
                            <thead>
                                <tr>
                                    <th>User ID</th>
                                    <th>Rating</th>
                                    <th>Bot</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>714347110497124382</td>
                                    <td>1</td>
                                    <td>714347110497124382</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>