<div id="container52" class="container default">
    <div class="wrapper">
        <div class="inner">
            <p id="text245">Alert Title</p>
            <p id="text246">Alert Message</p>
        </div>
    </div>
</div>
<div id="container56" class="container default">
    <div class="wrapper">
        <div class="inner">
            <ul id="buttons52" class="buttons">
                <li>
                    <a href="https://domain.ext/path" class="button n01">Staff Manager</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n02">Users</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n03">Audit Logs</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n04">Pending Bots</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n05">Pending Reports</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n06">API Settings</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n07">Alert Settings</a>
                </li><li>
                    <a href="https://domain.ext/path" class="button n08">Bots</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="container57" class="container default">
    <div class="wrapper">
        <div class="inner">
            <p id="text247">Site Users</p>
            <hr id="divider74">
            <div id="table06" class="table-wrapper">
                <div class="table-inner">
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>Permission</th>
                                <th>Blacklisted</th>
                                <th>Post Ban</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="http:///"><span style="color: #5877C7">282762192544333827</span></a></td>
                                <td>FAXES</td>
                                <td>Administrator</td>
                                <td>No | <span style="color: red">Yes</span></td>
                                <td>No | <span style="color: red">Yes</span></td>
                            </tr>
                            <tr>
                                <td><a href="http:///"><span style="color: #5877C7">282762192544333827</span></a></td>
                                <td>FAXES</td>
                                <td>Administrator</td>
                                <td>No | <span style="color: red">Yes</span></td>
                                <td>No | <span style="color: red">Yes</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr id="divider75">
        </div>
    </div>
</div>