<div id="container45" class="container columns">
    <div class="wrapper">
        <div class="inner">
            <div>
                <p id="text231">Ticket #1</p>
                <hr id="divider67">
                <p id="text232">Hello, Smirf123 from the review team here, We noticed a couple issues with the bot and the listing 1. The CSS/HTML is all messed up, please fix this 2. Clarify what anti link is, it wasn&#39;t as expected 3. The leveling system rewards spam, if possible fix this. Thank You, Smirf123</p>
            </div>
            <div>
                <p id="text233"><span style="color: grey">Status:</span> <span style="color: green">Open</span> | <span style="color: red">Closed</span></p>
                <p id="text234"><span style="color: grey">Creator:</span> <code><a href="http:///">Beefer#3014</a></code></p>
                <p id="text235"><span style="color: grey">Creation Date:</span> Tue Feb 02 2021 19:46:28</p>
                <p id="text236"><span style="color: grey">Last Update:</span> Fri Feb 05 2021 10:34:28</p>
                <hr id="divider68">
                <ul id="buttons49" class="buttons">
                    <li>
                        <a href="https://domain.ext/path" class="button n01"><svg><use xlink:href="assets/icons.svg#cancel-light"></use></svg><span class="label">Close</span></a>
                    </li><li>
                        <a href="https://domain.ext/path" class="button n02"><svg><use xlink:href="assets/icons.svg#user-alt"></use></svg><span class="label">Beefer#3014</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<hr id="divider66">
<div id="container44" class="container columns">
    <div class="wrapper">
        <div class="inner">
            <div>
                <p id="text226">From Andreasda223#0001</p>
                <hr id="divider65">
                <p id="text225">Mark Solved &amp; Close</p>
            </div>
            <div>
                <p id="text227"><span style="color: grey">Comment Date:</span> Fri Feb 05 2021 10:34:28</p>
            </div>
        </div>
    </div>
</div>