<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>404 | Disbot.top</title>
		<%- include("partials/head.ejs") %>
		<meta name="description" content="Expand your bots potential with disbot.top. Add your bot to our list and have it seen by heaps of people around the universe!" />
		<meta property="og:title" content="404 | Disbot.top" />
        <link rel="stylesheet" href="/assets/main.css" />
	</head>
	<body>
		<div id="wrapper">
			<div id="main">
				<div class="inner">
					<header id="header">
                        <%- include("partials/header.ejs", { discordInfo: discordInfo }) %>
					</header>
					<!-- ---------------------- -->
					<section id="home-section">
                        <div id="container85" class="container columns">
                            <div class="wrapper">
                                <div class="inner">
                                    <div>
                                        <h2 id="text285">404</h2>
                                        <p id="text286">This page cannot be found or you don&#39;t have access to view it</p>
                                    </div>
                                    <div>
                                        <div id="image37" class="image">
                                            <span class="frame"><img src="/assets/images/image01.png" alt="" /></span>
                                        </div>
                                        <hr id="divider101">
                                        <ul id="buttons61" class="buttons">
                                            <li>
                                                <a href="/search" class="button n01">Search Bots</a>
                                            </li><li>
                                                <a href="/discord" class="button n02">Join Discord</a>
                                            </li><li>
                                                <a href="/list/top" class="button n03">Top Bots</a>
                                            </li><li>
                                                <a href="/list/new" class="button n04">Newly Added Bots</a>
                                            </li><li>
                                                <a href="/list/certified" class="button n05">Certified Bots</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
					</section>
					<!-- ---------------------- -->
					<footer id="footer">
                        <%- include("partials/footer.ejs") %>
					</footer>
				</div>
			</div>
		</div>
        <script src="/assets/main.js"></script>
	</body>
</html>