<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Advertise | Disbot.top</title>
		<%- include("partials/head.ejs") %>
        <meta name="description" content="Expand your bots potential with disbot.top. Add your bot to our list and have it seen by heaps of people around the universe!" />
		<meta property="og:title" content="Advertise | Disbot.top" />
        <link rel="stylesheet" href="/assets/main.css" />
	</head>
	<body>
		<div id="wrapper">
			<div id="main">
				<div class="inner">
					<header id="header">
                        <%- include("partials/header.ejs", { discordInfo: discordInfo }) %>
					</header>
					<!-- ---------------------- -->
					<section id="home-section">
                        <!-- <div id="container47" class="container default">
                            <div class="wrapper">
                                <div class="inner">
                                    <p id="text228">Alert Title</p>
                                    <p id="text229">Alert Message</p>
                                </div>
                            </div>
                        </div> -->
                        <div id="container37" class="container columns">
                            <div class="wrapper">
                                <div class="inner">
                                    <div>
                                        <p id="text209">Advertise with us!</p>
                                        <hr id="divider61">
                                        <p id="text86">Advertising with us is a very simple process and it&#39;s super cheap! For the security and safety of our users, we have some small rules that must be followed by advertisers.</p>
                                    </div>
                                    <div>
                                        <p id="text183">Standards</p>
                                        <hr id="divider62">
                                        <p id="text184">Be advertiser-friendly. Services must be suitable for people under 16 years of age.</p>
                                        <p id="text185">If advertising advertisers must make an upfront payment discussed. All prices and offers are negotiated per advertiser basis.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="container38" class="container columns">
                            <div class="wrapper">
                                <div class="inner">
                                    <div>
                                        <p id="text52">Location One</p>
                                        <div id="image33" class="image">
                                            <span class="frame deferred"><img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjAiIHk9IjAiIHZpZXdCb3g9IjAgMCAxNjYwIDk1MyIgd2lkdGg9IjE2NjAiIGhlaWdodD0iOTUzIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48cmVjdCBmaWxsPSIjMGQwZDBmIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIi8%2BPC9zdmc%2B" data-src="assets/images/image33.jpg" alt="" /></span>
                                        </div>
                                    </div>
                                    <div>
                                        <p id="text84">Location Two</p>
                                        <div id="image34" class="image">
                                            <span class="frame deferred"><img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjAiIHk9IjAiIHZpZXdCb3g9IjAgMCAxMjQ3IDc5NyIgd2lkdGg9IjEyNDciIGhlaWdodD0iNzk3IiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48cmVjdCBmaWxsPSIjMGUwZDBlIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIi8%2BPC9zdmc%2B" data-src="assets/images/image34.jpg" alt="" /></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="container35" class="container columns">
                            <div class="wrapper">
                                <div class="inner">
                                    <div>
                                        <p id="text51">Location Three</p>
                                        <div id="image35" class="image">
                                            <span class="frame deferred"><img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjAiIHk9IjAiIHZpZXdCb3g9IjAgMCAxNDM2IDgxNiIgd2lkdGg9IjE0MzYiIGhlaWdodD0iODE2IiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48cmVjdCBmaWxsPSIjMGQwYjBlIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIi8%2BPC9zdmc%2B" data-src="assets/images/image35.jpg" alt="" /></span>
                                        </div>
                                    </div>
                                    <div>
                                        <p id="text48">Location Four</p>
                                        <div id="image32" class="image">
                                            <span class="frame deferred"><img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjAiIHk9IjAiIHZpZXdCb3g9IjAgMCAxNjgzIDEwMTkiIHdpZHRoPSIxNjgzIiBoZWlnaHQ9IjEwMTkiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyZWN0IGZpbGw9IiMwYTBiMGIiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiLz48L3N2Zz4%3D" data-src="assets/images/image32.jpg" alt="" /></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
					</section>
					<!-- ---------------------- -->
					<footer id="footer">
                        <%- include("partials/footer.ejs") %>
					</footer>
				</div>
			</div>
		</div>
        <script src="/assets/main.js"></script>
	</body>
</html>